@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.testimonial {
    position: relative;
    width: 1440px;
    height: 800px;

    .toggler {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        position: absolute;
        top: 650px;
        right: 450px;
        width: 112px;
        height: 56px;
        color: #8585AC;
        font-size: 18px;
        background: #FFFFFF;
        box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
        border-radius: 28px;
        z-index: 100;
        padding: 20px 24px;
        box-sizing: border-box;

        ion-icon {
            cursor: pointer;
        }
    }

    .testimonial__bottom {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;

        .quote {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 50%;
            height: 100%;
            transform: translateX(-100%);
            transition: .3s;

            p {
                font-weight: 300;
                font-size: 32px;
                line-height: 44px;
                margin-bottom: 32px;
            }

            .author {
                display: flex;

                .author__name {
                    font-weight: 700;
                    font-size: 20px;
                    color: #202047;
                    margin-right: 10px;
                }

                .author__proffesion {
                    font-weight: 500;
                    font-size: 20px;
                    color: #B9B9CE;
                }
            }
        }

        .quote.active {
            transform: translateX(0);
            transition: .5s;
        }

        .testimonial__img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            transform: translateX(100%);
            transition: .3s;

            img {
                width: 540px;
                height: 540px;
            }
        }

        .testimonial__img.active {
            transform: translateX(0);
            transition: .5s;
        }
    }
}